.ez-input {
    box-sizing: border-box;
    padding: 0;
}

.ez-input.ez-input-bg {
    height: 48px;
  
}

.ez-input.ez-input-md {
    height: 40px;
}

.ez-input.ez-input-sm {
    height: 32px;
}

.ant-input-affix-wrapper-bg{
.ant-input-prefix{
    
}
}