$themeColorClass_1: #E6C439;
$themeColorClass_2: #FFDA3F;
$themeColorClass_3: #FFE98C;
$themeColorClass_4: #FFFBEB;


$fontColor: #2B2B2D;


$ButtonTextColor: #FFDA3F;
$ButtonLinkColor: #007AF5;

$borderCircleRadiusBig:24px;
$borderCircleRadiusMiddle:20px;
$borderCircleRadiusSmall:20px;

$borderRoundRadiusBig:4px;
$borderRoundRadiusMiddle:4px;
$borderRoundRadiusSmall:4px;

$buttonBorderWidth:1px;

$warnColor:#F44A4A;

@function getFontColor($px) {
    @return rgba(43, 43, 45, $px);
}
@function getWarnColor($px) {
    @return rgba(244, 74, 74, $px);
}