$themeColor: #FFDA3F;
$fontColor: #2B2B2D;
$fontClickColor:  #E6C439;


$ButtonTextColor: #FFDA3F;
$ButtonLinkColor: #007AF5;
// $ButtonColor: red;
$borderCircleRadiusBig:24px;
$borderCircleRadiusMiddle:20px;
$borderCircleRadiusSmall:20px;

$borderRoundRadiusBig:4px;
$borderRoundRadiusMiddle:4px;
$borderRoundRadiusSmall:4px;

@function getFontColor($px) {
    @return rgba(43, 43, 45, $px);
}

@function getThemeColor($px) {
    @return rgba(255, 218, 63, $px);
}
@function getFontClickColor($px) {
    @return rgba(230, 196, 57, $px);
}
